<mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>eco</mat-icon>
    </button>
    <span>FIN-TRACK</span>
    <span class="example-spacer"></span>
     <button mat-button routerLink="home">HOME</button>
     <button mat-button routerLink="income">INCOME</button>
     <button mat-button routerLink="expense">EXPENSE</button>
     <button mat-button routerLink="register">REGISTER</button>
     <button mat-raised-button color="warn" routerLink="home">SIGN OUT</button>
     
  </mat-toolbar>
  

  


  